#catHeaderC1R1, #catHeaderC1R2, #catHeaderC1R3, #catHeaderC2R1, #catHeaderC2R2, #catHeaderC2R3, #catHeaderC3R1, #catHeaderC3R2, #catHeaderC3R3 {
	display:block;
	text-decoration:none;
	font-weight:bold;
	font-size:30pt;
}
/**/


/*Start first column*/
#catHeaderC1R1 {
	color:#977;
	transition:color .5s ease-in;
}

#catHeaderC1R1:hover {
	color:#C77;
	opacity:1;
}

/**/
#catHeaderC1R2 {
	color:#977;
	transition:color .5s ease-in;
}

#catHeaderC1R2:hover {
	color:#C77;
	opacity:1;
}

/**/
#catHeaderC1R3 {
	color:#977;
	transition:color .5s ease-in;
}

#catHeaderC1R3:hover {
	color:#C77;
	opacity:1;
}
/**/


/*Start second column*/
#catHeaderC2R1 {
	color:#797;
	transition:color .5s ease-in;
}

#catHeaderC2R1:hover {
	color:#7C7;
	opacity:1;
}

/**/
#catHeaderC2R2 {
	color:#797;
	transition:color .5s ease-in;
}

#catHeaderC2R2:hover {
	color:#7C7;
	opacity:1;
}

/**/
#catHeaderC2R3 {
	color:#797;
	transition:color .5s ease-in;
}

#catHeaderC2R3:hover {
	color:#7C7;
	opacity:1;
}
/**/


/*Start third column*/
#catHeaderC3R1 {
	color:#779;
	transition:color .5s ease-in;
}

#catHeaderC3R1:hover {
	color:#77C;
	opacity:1;
}

/**/
#catHeaderC3R2 {
	color:#779;
	transition:color .5s ease-in;
}

/**/
#catHeaderC3R2:hover {	
	color:#77C;
	opacity:1;
}

/**/
#catHeaderC3R3 {
	color:#779;
	transition:color .5s ease-in;
}

#catHeaderC3R3:hover {
	color:#77C;
	opacity:1;
}