body {
	color:#AAA;
	background:#333 url("../img/background.jpg") top left no-repeat;
	text-align:center;
	margin-top:3%;
	margin-bottom:3%;
}

a {
	font-size:22pt;
	opacity:0.8;
}

#firstC, #secondC, #thirdC {
	width:33%;
	height:75%;
}

#firstC {
	position:absolute;
	left:0%;
}

#secondC {
	position:absolute;
	left:33%;
}

#thirdC {
	position:absolute;
	left:66%;
}

.firstRow, .secondRow {
	margin-bottom:5%;
}
